name: Test

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.62.0
        args: --timeout=10m -v
  Gosec:
    name: Run Gosec Security Scanner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: securego/gosec@v2.22.11
        with:
          args: -exclude-dir pkg/credentials/alibabacloudgo/helper -exclude-dir pkg/credentials/alibabacloudsdkgo/helper -exclude-dir pkg/credentials/provider -exclude-dir ci/ossutil -exclude-dir examples ./...

  releaser-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
        env:
          GOPATH: ${{ env.HOME }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: latest
          args: release --snapshot --rm-dist --skip-publish
        env:
          GOPATH: ${{ env.HOME }}

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23
      env:
        GOPATH: ${{ env.HOME }}

    - name: Build
      run: make build

    - name: Test
      run: make test

  build-cli-docker-image-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64, linux/arm64
          push: false
          tags: |
            ack-ram-tool:0.1.0-dev
#
#  build-rrsa-example-go-docker-image-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#      - uses: docker/build-push-action@v6
#        with:
#          context: ./examples/rrsa/go-sdk/
#          file: ./examples/rrsa/go-sdk/Dockerfile
#          platforms: linux/amd64, linux/arm64
#          push: false
#          tags: |
#            ack-ram-tool:0.1.0-rrsa-go-sdk-dev
#
#  build-rrsa-example-java-docker-image-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#      - uses: docker/build-push-action@v6
#        with:
#          context: ./examples/rrsa/java-sdk/
#          file: ./examples/rrsa/java-sdk/Dockerfile
#          platforms: linux/amd64, linux/arm64
#          push: false
#          tags: |
#            ack-ram-tool:0.1.0-rrsa-java-sdk-dev
#
#  build-rrsa-example-nodejs-docker-image-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#      - uses: docker/build-push-action@v6
#        with:
#          context: ./examples/rrsa/nodejs-sdk/
#          file: ./examples/rrsa/nodejs-sdk/Dockerfile
#          platforms: linux/amd64, linux/arm64
#          push: false
#          tags: |
#            ack-ram-tool:0.1.0-rrsa-nodejs-sdk-dev
#
#  build-rrsa-example-python3-docker-image-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#      - uses: docker/build-push-action@v6
#        with:
#          context: ./examples/rrsa/python3-sdk/
#          file: ./examples/rrsa/python3-sdk/Dockerfile
#          platforms: linux/amd64, linux/arm64
#          push: false
#          tags: |
#            ack-ram-tool:0.1.0-rrsa-python3-sdk-dev
